
<div class="container mt-5" >
    <div class="card p-2">

        <div class="row" >
            <div class="col-6" >
              <!-- <img class="img-responsive" src="assets/image/invoice.png"> -->
              <img [src]="imageUrl" alt="Uploaded Image" style="height: 500px; width: 500px; scroll-behavior: auto;">
            </div>

            <div class="col-6" >
              
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
               
            </div>
        </div>

    </div>

</div>

